@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-out;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

@keyframes opacityC {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.component {
    top: 4px;
    position: absolute;
    width: 85%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
}